<div class="card-information">
    <img src="https://static.vecteezy.com/system/resources/previews/023/329/714/non_2x/heart-tree-love-for-nature-red-landscape-at-sunset-generativ-ai-photo.jpg" alt="">
    <h3 class="title">Acer</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  deleniti sunt, nesciunt ad voluptate beatae. Eum aut illo assumenda voluptate inventore necessitatibus.</p>
    <p class="price">price</p>
    <button class="sale-button">Comprar</button>
</div>

<div class="card-information">
    <img src="https://static.vecteezy.com/system/resources/previews/023/329/714/non_2x/heart-tree-love-for-nature-red-landscape-at-sunset-generativ-ai-photo.jpg" alt="">
    <h3 class="title">Acer</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  deleniti sunt, nesciunt ad voluptate beatae. Eum aut illo assumenda voluptate inventore necessitatibus.</p>
    <p class="price">price</p>
    <button class="sale-button">Comprar</button>
</div>

<div class="card-information">
    <img src="https://static.vecteezy.com/system/resources/previews/023/329/714/non_2x/heart-tree-love-for-nature-red-landscape-at-sunset-generativ-ai-photo.jpg" alt="">
    <h3 class="title">Acer</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  deleniti sunt, nesciunt ad voluptate beatae. Eum aut illo assumenda voluptate inventore necessitatibus.</p>
    <p class="price">price</p>
    <button class="sale-button">Comprar</button>
</div>