<nav class="navigation">
    <h1 class="title">Bienvenido a nuestra tienda online</h1>
<div class="options-nav">
    <button class="button-nav">Mis compras</button>
    <button class="button-nav">Salir</button>
</div>
</nav>
<nav class="nav-options">
    <div class="options">
        <button (click)="changeCategory('destacadas')" id="destacadas" class="option-button selected">Computadoras destacadas</button>
        <button (click)="changeCategory('ofertas')" id="ofertas" class="option-button">Ofertas especiales</button>
        <button (click)="changeCategory('novedades')" id="novedades" class="option-button">Novedades</button>
    </div>
</nav>
